import React from 'react';
import PropTypes from 'prop-types';
import './{{pascalCase name}}.scss';

const {{pascalCase name}} = (props) => {
  return (
    <div className='{{name}}Container'>
    </div>
  );
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};